{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>About Page</h1>
    <h2> Welcome to our about page! <h2>
	</div>
	<p>We are Miranda Lassar, Sonia Presti, Charisma Chauhan, and we are so excited you decided to play our game! </p>
	<p>How to play hangman:</p>
  <br>
  <p>The website will generate a random word, and you have to guess letters in the word until you complete the word!</p>
  <p> Enjoy!! </p>
	<img src = "https://image.shutterstock.com/image-illustration/illustration-hangman-game-600w-386156509.jpg" width="400"> </img>

{% endblock %}
