{% extends "fancylayout.html" %}

{% block content %}
  <div class="jumbotron">
    <h1>Charisma's bio</h1>
	</div>
	<p> PUT INFO HERE</p>
	<p>PUT INFO HERE</p>
	<img src = "Miranda-Eating.jpg" width="400"> </img>

	<h2> Charismas's Information </h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>First name</th>
				<th>Last name</th>
				<th>Age</th>
				<th>Graduation Year</th>
				<th>Favorite Food</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Charisma</td>
				<td>Chauhan</td>
				<td>20</td>
				<td>2022</td>
				<td>PUT INFO HERE</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
